extends index.pug

block content
  div(id="userDataDisp" class="")
    h2 User Account Settings
    h4 First Name: #{user.first_name}
    h4 Last Name: #{user.last_name}
    h4 Address: #{user.address}
    h4 Phone: #{user.phone}
    h4 Payment information:
      each payment in userPmt
        p #{payment.name}:  #{payment.account_number}

    h3 Your orders: 
      each order in userOrders
        p Order ##{order.id} on #{order.order_date}
    button(id="editUserBtn") Edit Account Information
  
  div(id="editUserForm" class="hidden")
    form(name="updateUser" method="POST" action=`/user/${user.id}?_method=PUT`)
      label(for="first_name") First name: 
      input(type="text" value=`${user.first_name}` id="first_name" name="first_name")
      label(for="last_name") Last name: 
      input(type="text" value=`${user.last_name}` id="last_name" name="last_name")
      label(for="address") Address (entire address, including zip): 
      input(type="text" value=`${user.address}` id="address" name="address")
      label(for="phone") Phone number (enter as a number without dashes): 
      input(type="text" value=`${user.phone}` id="phone" name="phone")
      button(type="submit" id="updateUserData") Update my info

  //- including these here so they load once the pug has loaded
  script 
      include ../node_modules/jquery/dist/jquery.js
      include ../public/main.js
