extends index.pug

block content
  h2 User Account Settings
  h4 First Name: #{user.first_name}
  h4 Last Name: #{user.last_name}
  h4 Address: #{user.address}
  h4 Phone: #{user.phone}
  h4 Payment information:
    each payment in userPmt
      p #{payment.name}, Account #{payment.account_number}